.task {
    background: #f4f4f4;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .task.reminder {
    border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  }
  
  .task h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }